NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/hots_stats
PORT=3001
WEB_ORIGIN=http://localhost:3000
API_PUBLIC_URL=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
